@import '@mantine/core/styles.css';

:root {
  font-size: 16px;
  --radius: 8px;
  --shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 7%), 0 0.3px 0.9px 0 rgb(0 0 0 / 5%);
  --font: 'IBM Plex Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', monospace;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #888888;
  --color-grey: #606f7b;
  --color-translucent: rgba(255, 255, 255, 0.1);
  --color-yellow: #ffa528;
  --color-orange: #ff7157;
  --color-red: #ff5068;
  --color-pink: #f357a8;
  --color-purple: #9f5bf6;
  --color-blue: #5475ff;
  --color-cyan: #00b7ca;
  --color-green: #00b874;
  --opacity: 0.45;
  --easingDecelerate: cubic-bezier(0, 0, 0.2, 1);
}
*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#news {
  background: var(--color-red);
}
#tech {
  background: var(--color-blue);
}
#biz {
  background: var(--color-green);
}
#sport {
  background: var(--color-yellow);
}
#cult {
  background: var(--color-purple);
}
#geek {
  background: var(--color-pink);
}
#sci {
  background: var(--color-cyan);
}
#check {
  background: var(--color-grey);
}
#dscvr {
  background: var(--color-orange);
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  font-family: var(--font);
  font-size: 0;
  background: #fff;
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
header {
  position: fixed;
  width: 100%;
  padding: 1rem;
  z-index: 999;
}

#logo {
  float: left;
  padding: 0.75rem;
  line-height: 0;
}
#logo svg {
  fill: #fff;
}
#logo,
#menu {
  position: relative;
  width: 48px;
  height: 48px;
  font-size: 0;
  background: var(--color-translucent);
  box-shadow: var(--shadow);
  border-radius: 10rem;
}
#menu:hover,
#logo:hover {
  background: rgba(255, 255, 255, 0.15);
}

#menu {
  float: right;
  z-index: 9;
  padding-left: 0.75rem;
}
.hamburger {
  position: relative;
  width: 24px;
  height: 3px;
  background: #fff;
  transition:
    transform 250ms ease,
    background 200ms ease;
  /* border-radius: 1rem; */
}
.hamburger:before,
.hamburger:after {
  content: '';
  position: absolute;
  display: block;
  right: 0;
  width: 24px;
  height: 3px;
  background: #fff;
  z-index: 1;
  transition:
    transform 250ms ease,
    width 200ms ease,
    top 200ms ease,
    background 200ms ease;
  /* border-radius: 1rem; */
}
.hamburger:before {
  top: -7px;
  width: 18px;
}
.hamburger:after {
  top: 7px;
  width: 12px;
}
#menu:hover .hamburger:before,
#menu:hover .hamburger:after {
  width: 24px;
}
#menu.open .hamburger {
  transform: rotate(45deg);
  background: #000;
}
#menu.open .hamburger:before,
#menu.open .hamburger:after {
  top: 0;
  width: 24px;
  transform: rotate(90deg);
  background: #000;
}
#menu.open {
  box-shadow: none;
  background: transparent;
}

.layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: transparent;
  opacity: 0;
  visibility: hidden;
  transition:
    opacity 300ms var(--easingDecelerate),
    visibility 300ms var(--easingDecelerate);
}
.layer-active {
  opacity: 1;
  visibility: visible;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(2px);
}

header nav {
  position: fixed;
  height: 100%;
  width: 100%;
  right: 0;
  top: 0;
  background: var(--color-white);
  transition:
    transform 350ms cubic-bezier(0.32, 0.72, 0, 1),
    opacity 250ms var(--easingDecelerate),
    visibility 350ms var(--easingDecelerate);
  transform: translateX(100%);
  visibility: hidden;
  opacity: 0;
  z-index: 3;
}
header nav.open {
  visibility: visible;
  opacity: 1;
  transform: translateX(0);
}
header nav ul {
  position: relative;
  width: 100%;
  list-style: none;
  margin: 5rem 0 0;
  padding: 0;
}
header nav ul li {
  padding: 0;
}
header nav a {
  display: inline-block;
  padding: 0.25rem 4rem;
  width: 100%;
  font-size: 5vw;
  transition: background 150ms ease;
}
header nav a:hover,
header nav a:focus {
  background: #f5f5f5;
}

section {
  width: 100%;
  padding: 5rem 1rem;
  overflow: hidden;
}
.container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-width: 1024px;
}
.fullscreen {
  display: table;
  min-height: 100vh;
  padding-top: 0;
  padding-bottom: 0;
}
.fullscreen-container {
  display: table-cell;
  vertical-align: middle;
}
.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  color: var(--color-black);
  font-weight: bold;
  text-decoration: none;
}
button {
  cursor: pointer;
  border: none;
}
a,
button,
.svg {
  -webkit-transition: all 0.25s;
  -moz-transition: all 0.25s;
  -ms-transition: all 0.25s;
  -o-transition: all 0.25s;
  transition: all 0.25s;
}

p,
li,
h1,
h2,
h3 {
  color: #000;
  padding-bottom: 2rem;
}
p,
ul {
  padding-bottom: 1.5rem;
}
ul {
  margin-left: 1.2rem;
}
p,
li {
  font-weight: 400;
  line-height: 1.7;
}
li {
  padding: 0 0 0.5rem 0.5rem;
}
h1,
h2,
h3,
h4,
a,
b,
strong,
button,
input {
  font-family: var(--font);
  font-weight: 700;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.4rem;
}
h4 {
  font-size: 1.25rem;
}

p,
li {
  font-size: 1rem;
}

a:hover,
a:focus {
  color: #000;
}

/* Header Internal Pages */

.header-internal #logo,
.header-internal #menu {
  background: black;
}
.header-internal #logo:hover,
.header-internal #menu:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Articles */
article {
  position: relative;
  margin: 5.75rem auto 2rem;
  max-width: 750px;
  text-align: left;
}
article h2,
article h3 {
  padding: 2rem 0 1rem 0;
}
article ol {
  list-style-type: decimal;
  padding: 1rem 2rem;
}
article ul {
  list-style-type: disc;
  padding: 0 0 28px 28px;
}
article li {
  padding: 0.5rem 0;
}
article p {
  font-size: 1.05rem;
  line-height: 1.8;
}

/* Tablet article improvements */
@media only screen and (min-width: 768px) {
  article {
    padding: 0 2rem;
  }
  article h1 {
    font-size: 2.75rem;
  }
  article p {
    font-size: 1.15rem;
  }
}

footer {
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1.5rem 2rem;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p,
  li {
    font-size: 1.2rem;
  }
  header {
    padding: 1.5rem;
  }
  header nav {
    width: 500px;
  }
  header nav a {
    font-size: 2.5vw;
  }
  #logo,
  #menu {
    width: 4rem;
    height: 4rem;
    padding: 1.25rem;
  }
  section {
    padding: 5rem 5.5rem;
  }

  footer {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
  header nav a {
    font-size: 1.5vw;
  }
}
